.u-section-1 {
  background-image: url("57e8d6454f5aae14f6da8c7dda793678153bdee757596c48732f72d79249c15ab8_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 842px;
}

.u-section-1 .u-text-1 {
  font-style: normal;
  font-size: 2.25rem;
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 152px auto 0 77px;
}

.u-section-1 .u-icon-1 {
  height: 48px;
  width: 48px;
  margin: -67px auto 0 36px;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  animation-duration: 1000ms;
  font-weight: 700;
  margin: -43px auto 0 389px;
}

.u-section-1 .u-text-3 {
  font-style: normal;
  font-size: 2.25rem;
  font-weight: 700;
  animation-duration: 1000ms;
  margin: -63px auto 0 768px;
}

.u-section-1 .u-icon-2 {
  height: 39px;
  width: 39px;
  margin: -53px auto 0 728px;
}

.u-section-1 .u-text-4 {
  font-size: 1.875rem;
  animation-duration: 1000ms;
  font-weight: 700;
  margin: -48px 101px 0 auto;
}

.u-section-1 .u-line-1 {
  width: 912px;
  height: 3px;
  margin: 67px auto 0;
}

.u-section-1 .u-text-5 {
  font-weight: 400;
  font-family: Anton;
  font-size: 2.25rem;
  text-decoration: underline !important;
  margin: 19px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 17px;
  margin-bottom: 60px;
  margin-left: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-6 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: -24px auto 0;
}

.u-section-1 .u-icon-3 {
  height: 126px;
  width: 126px;
  margin: 20px auto 0;
}

.u-section-1 .u-text-7 {
  font-size: 2.25rem;
  width: 42px;
  margin: 49px auto 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-8 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: -24px auto 0;
}

.u-section-1 .u-icon-4 {
  height: 126px;
  width: 126px;
  margin: 13px auto 0;
}

.u-section-1 .u-text-9 {
  font-size: 2.25rem;
  margin: 54px auto 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 400px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-text-10 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: -30px auto 0;
}

.u-section-1 .u-icon-5 {
  height: 126px;
  width: 126px;
  margin: 19px auto 0;
}

.u-section-1 .u-text-11 {
  font-size: 2.25rem;
  margin: 56px auto 0;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 400px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-text-12 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: -30px auto 0;
}

.u-section-1 .u-icon-6 {
  height: 126px;
  width: 126px;
  margin: 19px auto 0;
}

.u-section-1 .u-text-13 {
  font-size: 2.25rem;
  margin: 48px auto 0;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 400px;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-text-14 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: -30px auto 0;
}

.u-section-1 .u-icon-7 {
  height: 126px;
  width: 126px;
  margin: 19px auto 0;
}

.u-section-1 .u-text-15 {
  font-size: 2.25rem;
  margin: 48px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 624px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 75px;
    margin-left: 63px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 324px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -10px;
    margin-left: 321px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 10px;
    margin-left: 633px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: 20px;
    margin-left: 633px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 83px;
  }

  .u-section-1 .u-line-1 {
    margin-top: -94px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.25rem;
    margin-top: -39px;
    margin-left: 376px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 111px;
    margin-bottom: 0;
    position: relative;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: NaNpx;
  }

  .u-section-1 .u-text-6 {
    margin-top: 153px;
  }

  .u-section-1 .u-icon-3 {
    margin-left: 69px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: NaNpx;
  }

  .u-section-1 .u-text-8 {
    margin-left: 43px;
  }

  .u-section-1 .u-text-9 {
    width: 42px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: NaNpx;
  }

  .u-section-1 .u-text-10 {
    margin-left: 43px;
  }

  .u-section-1 .u-text-11 {
    width: 42px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: NaNpx;
  }

  .u-section-1 .u-text-12 {
    margin-left: 43px;
  }

  .u-section-1 .u-text-13 {
    width: 42px;
    height: 114px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: NaNpx;
  }

  .u-section-1 .u-text-14 {
    margin-left: 43px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1601px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 13px;
    margin-left: 48px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -43px;
    margin-left: 246px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 29px;
    margin-left: 485px;
  }

  .u-section-1 .u-icon-2 {
    margin-left: 485px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 64px;
  }

  .u-section-1 .u-line-1 {
    width: 720px;
    margin-top: 1039px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -232px;
    margin-left: 288px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -829px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 101px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 101px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-1 .u-text-12 {
    margin-left: 101px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-1 .u-text-14 {
    margin-top: 12px;
    margin-left: 28px;
  }

  .u-section-1 .u-icon-7 {
    height: 84px;
    width: 84px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3139px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 1186px;
    margin-left: 36px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 292px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 185px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 364px;
  }

  .u-section-1 .u-icon-2 {
    margin-left: 364px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 48px;
  }

  .u-section-1 .u-line-1 {
    width: 540px;
    margin-top: 4276px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -1508px;
    margin-left: 216px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -2777px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 175px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 175px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-12 {
    margin-left: 175px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-14 {
    margin-left: 173px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2086px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 676px;
    margin-left: 23px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 260px;
    margin-left: 23px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 116px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 229px;
  }

  .u-section-1 .u-icon-2 {
    margin-left: 229px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 229px;
  }

  .u-section-1 .u-line-1 {
    width: 340px;
    margin-top: 2483px;
    margin-left: 229px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -909px;
    margin-left: 136px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -1621px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 108px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 108px;
  }

  .u-section-1 .u-text-12 {
    margin-left: 108px;
  }

  .u-section-1 .u-text-14 {
    margin-left: 106px;
  }
}